In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from config import gkey

In [2]:
# Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame

cities_path = "../WeatherPy/cities_weather.csv"

# Read School and Student Data File and store into Pandas DataFrames
cities_data = pd.read_csv(cities_path)

#Create the dataframe
cities_data_df = pd.DataFrame(cities_data)
cities_data.head()

,Cities,Countries,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed (mph),Date
0,Vuktyl,RU,63.86,57.31,-19.3,88,93,1.6,02-09-2021
1,Busselton,AU,-33.65,115.33,55.0,97,90,6.8,02-09-2021
2,Provideniya,RU,64.38,-173.30,-5.3,77,0,13.9,02-09-2021
3,Boyolangu,ID,-8.12,111.89,75.5,88,93,2.2,02-09-2021
4,Honiara,SB,-9.43,159.95,78.6,82,30,6.2,02-09-2021

In [3]:
#Humidity Heatmap

#Configure gmaps
gmaps.configure(api_key=gkey)

#Use the Lat and Lng as locations and Humidity as the weight.
locations = cities_data_df[["Latitude", "Longitude"]]
weights = cities_data_df["Humidity (%)"]

#Create map
figure_layout = {'width': '800px',
                 'height': '600px',
                 'border': '1px solid black',
                 'padding': '1px',
                 'margin': '0 auto 0 auto'}

fig = gmaps.figure(layout=figure_layout, center=(0,0), zoom_level=2)

In [4]:
#Add Heatmap layer to map.
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [5]:
#Create new DataFrame fitting weather criteria
#Narrow down the cities to fit weather conditions.

#Max temp between 75 and 90 degrees F.
#Wind speed between 1 and 15 mph.
#Cloudiness between 10 and 50%

for index, rows in cities_data_df.iterrows():
    if cities_data_df.loc[index, "Max Temperature (F)"] < 85:
        pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue
    if cities_data_df.loc[index, "Max Temperature (F)"] >= 75:
            pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue 
    if cities_data_df.loc[index, "Wind Speed (mph)"] <= 10:
        pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue
    if cities_data_df.loc[index, "Cloudiness"] <= 30:
        pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue
    if cities_data_df.loc[index, "Cloudiness"] >= 10:
        pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue
        
cities_data_df.head()

skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip
skip

,Cities,Countries,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed (mph),Date
0,NaN,RU,63.86,57.31,-19.3,88,93,1.6,02-09-2021
1,NaN,AU,-33.65,115.33,55.0,97,90,6.8,02-09-2021
2,NaN,RU,64.38,-173.30,-5.3,77,0,13.9,02-09-2021
3,NaN,ID,-8.12,111.89,75.5,88,93,2.2,02-09-2021
4,Honiara,SB,-9.43,159.95,78.6,82,30,6.2,02-09-2021

In [6]:
# Drop any rows will null values.

cities_data_df.dropna(inplace=True)
cities_data_df.reset_index(drop=True, inplace=True)
vacation_df = cities_data_df[["Cities", "Countries", "Latitude", "Longitude"]].copy()
vacation_df

             Cities Countries  Latitude  Longitude
0           Honiara        SB     -9.43     159.95
1      Quatre Cocos        MU    -20.21      57.76
2         Mahebourg        MU    -20.41      57.70
3           Isangel        VU    -19.55     169.27
4   Bambous Virieux        MU    -20.34      57.76
5           Tak Bai        TH      6.26     102.05
6             Boffa        GN     10.17     -14.03
7         Quelimane        MZ    -17.88      36.89
8           Panacan        PH      9.25     118.41
9             Ambon        ID     -3.70     128.18
10          Tautira        PF    -17.73    -149.15
11      Port-Gentil        GA     -0.72       8.78
12         Maracaju        BR    -21.61     -55.17
13         Souillac        MU    -20.52      57.52
14           Sapele        NG      5.89       5.68
15      Grand Gaube        MU    -20.01      57.66
16       Banda Aceh        ID      5.56      95.32
17              Vao        NC    -22.67     167.48

In [7]:
# Build out new columns of dataframe to add info to

vacation_df["Hotel"] = ""
vacation_df["Address"] = ""
vacation_df["hotel_lat"] = ""
vacation_df["hotel_lng"] = ""
vacation_df

,Cities,Countries,Latitude,Longitude,Hotel,Address,hotel_lat,hotel_lng
0,Honiara,SB,-9.43,159.95,,,,
1,Quatre Cocos,MU,-20.21,57.76,,,,
2,Mahebourg,MU,-20.41,57.70,,,,
3,Isangel,VU,-19.55,169.27,,,,
4,Bambous Virieux,MU,-20.34,57.76,,,,
5,Tak Bai,TH,6.26,102.05,,,,
6,Boffa,GN,10.17,-14.03,,,,
7,Quelimane,MZ,-17.88,36.89,,,,
8,Panacan,PH,9.25,118.41,,,,
9,Ambon,ID,-3.70,128.18,,,,
10,Tautira,PF,-17.73,-149.15,,,,
11,Port-Gentil,GA,-0.72,8.78,,,,
12,Maracaju,BR,-21.61,-55.17,,,,
13,Souillac,MU,-20.52,57.52,,,,
14,Sapele,NG,5.89,5.68,,,,
15,Grand Gaube,MU,-20.01,57.66,,,,
16,Banda Aceh,ID,5.56,95.32,,,,
17,Vao,NC,-22.67,167.48,,,,

In [10]:
# Use Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

params = {
    "location": "location",
    "rankby": "distance",
    "type": "lodging",
    "keyword": "hotel",
    "key": gkey}

# Use the lat/lng we recovered to identify airports
for index, row in vacation_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    city = row["Cities"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel = requests.get(base_url, params=params)

    # print the name_address url, avoid doing for public github repos in order to avoid exposing key
    # print(hotel.url)

    # convert to json
    hotel = hotel.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    print(f'Finding hotels in {city}...')
    try:
        vacation_df.loc[index, "Hotel"] = hotel["results"][0]["name"]
        vacation_df.loc[index, "Address"] = hotel["results"][0]["vicinity"]
        vacation_df.loc[index, "hotel_lat"] = hotel["results"][0]["geometry"]["location"]["lat"]
        vacation_df.loc[index, "hotel_lng"] = hotel["results"][0]["geometry"]["location"]["lng"]
       
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
           
    time.sleep(.10)
        
vacation_df

Finding hotels in Honiara...
Finding hotels in Quatre Cocos...
Finding hotels in Mahebourg...
Finding hotels in Isangel...
Finding hotels in Bambous Virieux...
Finding hotels in Tak Bai...
Finding hotels in Boffa...
Finding hotels in Quelimane...
Finding hotels in Panacan...
Finding hotels in Ambon...
Finding hotels in Tautira...
Finding hotels in Port-Gentil...
Finding hotels in Maracaju...
Finding hotels in Souillac...
Finding hotels in Sapele...
Finding hotels in Grand Gaube...
Finding hotels in Banda Aceh...
Finding hotels in Vao...

,Cities,Countries,Latitude,Longitude,Hotel,Address,hotel_lat,hotel_lng
0,Honiara,SB,-9.43,159.95,Coral Sea Resort & Casino,"Tandai Highway, Town Ground, Honiara",-9.42889,159.948
1,Quatre Cocos,MU,-20.21,57.76,Tree Lodge Mauritius,"Argy Sugar Estate, Flacq",-20.2012,57.738
2,Mahebourg,MU,-20.41,57.70,Villa Aquarella,"6 Rue Sivananda, Mahebourg",-20.4086,57.7036
3,Isangel,VU,-19.55,169.27,Apera Beach Front Bungalows,"South Beach Road, Isangel Rd, Tanna Island",-19.545,169.272
4,Bambous Virieux,MU,-20.34,57.76,La Hacienda Hotel,"Lion Mountain, Vieux Grand Port",-20.3681,57.7197
5,Tak Bai,TH,6.26,102.05,Tak Bai Lagoon,"หมู่ที่ 7 311/2 Chehe, Tak Bai District",6.25618,102.06
6,Boffa,GN,10.17,-14.03,Hôtel Niara Belly,Boffa,10.1809,-14.0391
7,Quelimane,MZ,-17.88,36.89,Residencial Villa Nagardás,Quelimane,-17.879,36.8919
8,Panacan,PH,9.25,118.41,Crystal Paradise Resort,"1 Sea Road, Narra",9.28766,118.448
9,Ambon,ID,-3.70,128.18,OYO 984 Maleo Guest House,"Jl. Hasri Mursalim Amd.Kep, Kel Honipopu, Kota...",-3.69798,128.18
10,Tautira,PF,-17.73,-149.15,HOTEL PUEU VILLAGE,"Pueu, Kilometer 9.800",-17.7376,-149.225
11,Port-Gentil,GA,-0.72,8.78,Hotel Tara-Mé,"Boulevard Léon Mba, Port-Gentil",-0.717618,8.77919
12,Maracaju,BR,-21.61,-55.17,Hotel Bom Dia,"R. Joaquim Murtinho - Inacinha Rocha, Maracaju",-21.6119,-55.1674
13,Souillac,MU,-20.52,57.52,Shanti Maurice Resort & Spa,"Coastal Road, Saint Felix",-20.5123,57.4713
14,Sapele,NG,5.89,5.68,White City Hotel,"15 Akintola Road, Sapele",5.89389,5.67639
15,Grand Gaube,MU,-20.01,57.66,Mythic Suites & Villas - Conciergery & Resort ...,"Disa Ln, Grand Gaube",-20.0116,57.6614
16,Banda Aceh,ID,5.56,95.32,Hotel 61,"Jl. T. Panglima Polem No.32-34, Laksana, Kota ...",5.55937,95.3213
17,Vao,NC,-22.67,167.48,OURE TERA beach resort,Kuto,-22.6644,167.449

In [11]:
# Reduce df to only necessary info
vacation_reduced = vacation_df[["Cities", "Countries", "Hotel", "hotel_lat", "hotel_lng"]].copy()
vacation_reduced

,Cities,Countries,Hotel,hotel_lat,hotel_lng
0,Honiara,SB,Coral Sea Resort & Casino,-9.42889,159.948
1,Quatre Cocos,MU,Tree Lodge Mauritius,-20.2012,57.738
2,Mahebourg,MU,Villa Aquarella,-20.4086,57.7036
3,Isangel,VU,Apera Beach Front Bungalows,-19.545,169.272
4,Bambous Virieux,MU,La Hacienda Hotel,-20.3681,57.7197
5,Tak Bai,TH,Tak Bai Lagoon,6.25618,102.06
6,Boffa,GN,Hôtel Niara Belly,10.1809,-14.0391
7,Quelimane,MZ,Residencial Villa Nagardás,-17.879,36.8919
8,Panacan,PH,Crystal Paradise Resort,9.28766,118.448
9,Ambon,ID,OYO 984 Maleo Guest House,-3.69798,128.18
10,Tautira,PF,HOTEL PUEU VILLAGE,-17.7376,-149.225
11,Port-Gentil,GA,Hotel Tara-Mé,-0.717618,8.77919
12,Maracaju,BR,Hotel Bom Dia,-21.6119,-55.1674
13,Souillac,MU,Shanti Maurice Resort & Spa,-20.5123,57.4713
14,Sapele,NG,White City Hotel,5.89389,5.67639
15,Grand Gaube,MU,Mythic Suites & Villas - Conciergery & Resort ...,-20.0116,57.6614
16,Banda Aceh,ID,Hotel 61,5.55937,95.3213
17,Vao,NC,OURE TERA beach resort,-22.6644,167.449

In [12]:
vacation_reduced["Coordinates"] = list(zip(vacation_reduced.hotel_lat, vacation_reduced.hotel_lng))
vacation_reduced

,Cities,Countries,Hotel,hotel_lat,hotel_lng,Coordinates
0,Honiara,SB,Coral Sea Resort & Casino,-9.42889,159.948,"(-9.428894, 159.947709)"
1,Quatre Cocos,MU,Tree Lodge Mauritius,-20.2012,57.738,"(-20.201224, 57.737981)"
2,Mahebourg,MU,Villa Aquarella,-20.4086,57.7036,"(-20.4085752, 57.7035521)"
3,Isangel,VU,Apera Beach Front Bungalows,-19.545,169.272,"(-19.544994, 169.2716525)"
4,Bambous Virieux,MU,La Hacienda Hotel,-20.3681,57.7197,"(-20.368109, 57.719727)"
5,Tak Bai,TH,Tak Bai Lagoon,6.25618,102.06,"(6.2561841, 102.0601311)"
6,Boffa,GN,Hôtel Niara Belly,10.1809,-14.0391,"(10.1808637, -14.0391176)"
7,Quelimane,MZ,Residencial Villa Nagardás,-17.879,36.8919,"(-17.8790192, 36.8919083)"
8,Panacan,PH,Crystal Paradise Resort,9.28766,118.448,"(9.287663499999999, 118.447998)"
9,Ambon,ID,OYO 984 Maleo Guest House,-3.69798,128.18,"(-3.6979825, 128.1795938)"
10,Tautira,PF,HOTEL PUEU VILLAGE,-17.7376,-149.225,"(-17.7376124, -149.2250668)"
11,Port-Gentil,GA,Hotel Tara-Mé,-0.717618,8.77919,"(-0.7176180999999999, 8.7791874)"
12,Maracaju,BR,Hotel Bom Dia,-21.6119,-55.1674,"(-21.6119297, -55.1674491)"
13,Souillac,MU,Shanti Maurice Resort & Spa,-20.5123,57.4713,"(-20.5122835, 57.47125659999999)"
14,Sapele,NG,White City Hotel,5.89389,5.67639,"(5.893889, 5.676388999999999)"
15,Grand Gaube,MU,Mythic Suites & Villas - Conciergery & Resort ...,-20.0116,57.6614,"(-20.0116072, 57.66144199999999)"
16,Banda Aceh,ID,Hotel 61,5.55937,95.3213,"(5.5593663, 95.3213398)"
17,Vao,NC,OURE TERA beach resort,-22.6644,167.449,"(-22.6644075, 167.4485915)"

In [13]:
# Make dictionaries
hotels = vacation_reduced.to_dict(orient="records")
hotels

[{'Cities': 'Honiara',
  'Countries': 'SB',
  'Hotel': 'Coral Sea Resort & Casino',
  'hotel_lat': -9.428894,
  'hotel_lng': 159.947709,
  'Coordinates': (-9.428894, 159.947709)},
 {'Cities': 'Quatre Cocos',
  'Countries': 'MU',
  'Hotel': 'Tree Lodge Mauritius',
  'hotel_lat': -20.201224,
  'hotel_lng': 57.737981,
  'Coordinates': (-20.201224, 57.737981)},
 {'Cities': 'Mahebourg',
  'Countries': 'MU',
  'Hotel': 'Villa Aquarella',
  'hotel_lat': -20.4085752,
  'hotel_lng': 57.7035521,
  'Coordinates': (-20.4085752, 57.7035521)},
 {'Cities': 'Isangel',
  'Countries': 'VU',
  'Hotel': 'Apera Beach Front Bungalows',
  'hotel_lat': -19.544994,
  'hotel_lng': 169.2716525,
  'Coordinates': (-19.544994, 169.2716525)},
 {'Cities': 'Bambous Virieux',
  'Countries': 'MU',
  'Hotel': 'La Hacienda Hotel',
  'hotel_lat': -20.368109,
  'hotel_lng': 57.719727,
  'Coordinates': (-20.368109, 57.719727)},
 {'Cities': 'Tak Bai',
  'Countries': 'TH',
  'Hotel': 'Tak Bai Lagoon',
  'hotel_lat': 6.2561841,
  'hotel_lng': 102.0601311,
  'Coordinates': (6.2561841, 102.0601311)},
 {'Cities': 'Boffa',
  'Countries': 'GN',
  'Hotel': 'Hôtel Niara Belly',
  'hotel_lat': 10.1808637,
  'hotel_lng': -14.0391176,
  'Coordinates': (10.1808637, -14.0391176)},
 {'Cities': 'Quelimane',
  'Countries': 'MZ',
  'Hotel': 'Residencial Villa Nagardás',
  'hotel_lat': -17.8790192,
  'hotel_lng': 36.8919083,
  'Coordinates': (-17.8790192, 36.8919083)},
 {'Cities': 'Panacan',
  'Countries': 'PH',
  'Hotel': 'Crystal Paradise Resort',
  'hotel_lat': 9.287663499999999,
  'hotel_lng': 118.447998,
  'Coordinates': (9.287663499999999, 118.447998)},
 {'Cities': 'Ambon',
  'Countries': 'ID',
  'Hotel': 'OYO 984 Maleo Guest House',
  'hotel_lat': -3.6979825,
  'hotel_lng': 128.1795938,
  'Coordinates': (-3.6979825, 128.1795938)},
 {'Cities': 'Tautira',
  'Countries': 'PF',
  'Hotel': 'HOTEL PUEU VILLAGE',
  'hotel_lat': -17.7376124,
  'hotel_lng': -149.2250668,
  'Coordinates': (-17.7376124, -149.2250668)},
 {'Cities': 'Port-Gentil',
  'Countries': 'GA',
  'Hotel': 'Hotel Tara-Mé',
  'hotel_lat': -0.7176180999999999,
  'hotel_lng': 8.7791874,
  'Coordinates': (-0.7176180999999999, 8.7791874)},
 {'Cities': 'Maracaju',
  'Countries': 'BR',
  'Hotel': 'Hotel Bom Dia',
  'hotel_lat': -21.6119297,
  'hotel_lng': -55.1674491,
  'Coordinates': (-21.6119297, -55.1674491)},
 {'Cities': 'Souillac',
  'Countries': 'MU',
  'Hotel': 'Shanti Maurice Resort & Spa',
  'hotel_lat': -20.5122835,
  'hotel_lng': 57.47125659999999,
  'Coordinates': (-20.5122835, 57.47125659999999)},
 {'Cities': 'Sapele',
  'Countries': 'NG',
  'Hotel': 'White City Hotel',
  'hotel_lat': 5.893889,
  'hotel_lng': 5.676388999999999,
  'Coordinates': (5.893889, 5.676388999999999)},
 {'Cities': 'Grand Gaube',
  'Countries': 'MU',
  'Hotel': 'Mythic Suites & Villas - Conciergery & Resort - Mauritius',
  'hotel_lat': -20.0116072,
  'hotel_lng': 57.66144199999999,
  'Coordinates': (-20.0116072, 57.66144199999999)},
 {'Cities': 'Banda Aceh',
  'Countries': 'ID',
  'Hotel': 'Hotel 61',
  'hotel_lat': 5.5593663,
  'hotel_lng': 95.3213398,
  'Coordinates': (5.5593663, 95.3213398)},
 {'Cities': 'Vao',
  'Countries': 'NC',
  'Hotel': 'OURE TERA beach resort',
  'hotel_lat': -22.6644075,
  'hotel_lng': 167.4485915,
  'Coordinates': (-22.6644075, 167.4485915)}]

In [14]:
hotel_locations = [hotel["Coordinates"] for hotel in hotels]
print(hotel_locations)

[(-9.428894, 159.947709), (-20.201224, 57.737981), (-20.4085752, 57.7035521), (-19.544994, 169.2716525), (-20.368109, 57.719727), (6.2561841, 102.0601311), (10.1808637, -14.0391176), (-17.8790192, 36.8919083), (9.287663499999999, 118.447998), (-3.6979825, 128.1795938), (-17.7376124, -149.2250668), (-0.7176180999999999, 8.7791874), (-21.6119297, -55.1674491), (-20.5122835, 57.47125659999999), (5.893889, 5.676388999999999), (-20.0116072, 57.66144199999999), (5.5593663, 95.3213398), (-22.6644075, 167.4485915)]

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name:</dt><dd>{Hotel}</dd>
<dt>City:</dt><dd>{Cities}</dd>
<dt>Country:</dt><dd>{Countries}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**hotel) for hotel in hotels]

markers = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…