In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

In [2]:
# Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame

cities_path = "../WeatherPy/cities_weather.csv"

# Read School and Student Data File and store into Pandas DataFrames
cities_data = pd.read_csv(cities_path)

#Create the dataframe
cities_data_df = pd.DataFrame(cities_data)
cities_data.dtypes

Cities                  object
Countries               object
Latitude               float64
Longitude              float64
Max Temperature (F)    float64
Humidity (%)             int64
Cloudiness               int64
Wind Speed (mph)       float64
Date                    object
dtype: object

In [3]:
#Humidity Heatmap

#Configure gmaps
gmaps.configure(api_key=gkey)

#Use the Lat and Lng as locations and Humidity as the weight.
locations = cities_data_df[["Latitude", "Longitude"]]
weights = cities_data_df["Humidity (%)"]

#Create map
figure_layout = {'width': '800px',
                 'height': '600px',
                 'border': '1px solid black',
                 'padding': '1px',
                 'margin': '0 auto 0 auto'}

fig = gmaps.figure(layout=figure_layout, center=(0,0), zoom_level=1)

In [4]:
#Add Heatmap layer to map.
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [7]:
#Create new DataFrame fitting weather criteria
#Narrow down the cities to fit weather conditions.

#Max temp between 75 and 90 degrees F.
#Wind speed between 1 and 15 mph.
#Cloudiness between 10 and 50%

for index, rows in cities_data_df.iterrows():
    if cities_data_df.loc[index, "Max Temperature (F)"] < 90:
        pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue
    if cities_data_df.loc[index, "Max Temperature (F)"] >= 75:
            pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue 
    if cities_data_df.loc[index, "Wind Speed (mph)"] <= 15:
        pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue
    if cities_data_df.loc[index, "Cloudiness"] <= 40:
        pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue
    if cities_data_df.loc[index, "Cloudiness"] >= 5:
        pass
    else:
        cities_data_df.loc[index, "Cities"] = np.nan
        print("skip")
        continue
        
cities_data_df.head()

,Cities,Countries,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed (mph),Date
0,The Valley,AI,18.22,-63.06,78.8,69,20,12.7,02-09-2021
1,Olinda,BR,-8.01,-34.86,78.8,69,40,6.9,02-09-2021
2,Moree,AU,-29.47,149.85,86.0,32,40,10.4,02-09-2021

In [8]:
# Drop any rows will null values.

cities_data_df.dropna(inplace=True)
cities_data_df.reset_index(drop=True, inplace=True)
vacation_df = cities_data_df[["Cities", "Countries", "Latitude", "Longitude"]]
vacation_df

       Cities Countries  Latitude  Longitude
0  The Valley        AI     18.22     -63.06
1      Olinda        BR     -8.01     -34.86
2       Moree        AU    -29.47     149.85

In [13]:
# Build out new columns of dataframe to add info to

vacation_df["Hotel"] = ""
vacation_df["Address"] = ""
vacation_df

C:\Users\swdri\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\swdri\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

       Cities Countries  Latitude  Longitude Hotel Address
0  The Valley        AI     18.22     -63.06
1      Olinda        BR     -8.01     -34.86
2       Moree        AU    -29.47     149.85

In [14]:
# Use Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

params = {
    "location": "location",
    "rankby": "distance",
    "type": "lodging",
    "keyword": "hotel",
    "key": gkey}

# Use the lat/lng we recovered to identify airports
for index, row in vacation_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel = requests.get(base_url, params=params)

    # print the name_address url, avoid doing for public github repos in order to avoid exposing key
    # print(hotel.url)

    # convert to json
    hotel = hotel.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        vacation_df.loc[index, "Hotel"] = hotel["results"][0]["name"]
        vacation_df.loc[index, "Address"] = hotel["results"][0]["vicinity"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
vacation_df

C:\Users\swdri\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Cities,Countries,Latitude,Longitude,Hotel,Address
0,The Valley,AI,18.22,-63.06,Fountain Residences Anguilla,Fountain Rd Shoal Bay
1,Olinda,BR,-8.01,-34.86,Pousada do Amparo,"R. do Amparo, 199 - Amparo, Olinda"
2,Moree,AU,-29.47,149.85,Mehi River Van Park,"28 Oak St, Moree"